.font-size-waiting-room{
    font-size: 10px;
}
/* .form-check {
    display: flex;
    align-items: center;
} */
/* .form-check-label-waiting-room  {
    margin-left: 10px;
    font-size: 12px;
    text-align: center;
    padding-top: 4px;
    /* color:#59B044; *
    /* background-color: #59B044; *
   
} */

/* 
.form-check-waiting-room .form-check-input-waiting-room[type=radio] {
    border-radius: 100%;
    height: 18px;
    width: 18px;
    background-color: #59B044;
    border:none;
    
} */
