.g-doc-middle-content {
    transition: width 0.2s;
}

.g-doc-left-content {
    transition: width 0.2s;
    padding-top: 10px;
    padding-left: 2px;
}

.g-doc-left-sidebar {
    height: 88vh;
    overflow: hidden;
    overflow-y: auto;
}

.g-doc-left-content-top span {
    font-size: 20px;
    color: #69B128;
    cursor: pointer;
}

.g-doc-patient-contex-menu {
    padding: 5px;
}

.g-doc-left-content .form-control-sm {
    border-radius: 1rem;
}

.g-doc-left-patient.active {
    background-color: #69B128;
    border-radius: 57px 30px 10px 57px;
    margin-left: 3px;
    padding: 5px;
}

.g-doc-left-patient.active img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid #F7F7F7;
}

.g-doc-left-patient .g-doc-left-patient-detail h6 {
    font-size: 11px;
    margin-bottom: 0.1rem !important;
    line-height: 0.5rem !important;
}

.g-doc-left-patient .g-doc-left-patient-detail span {
    font-size: 10px;
}

.g-doc-left-patient img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 5px solid #E8E8E8
}

.g-doc-paiten-list-container ul {
    padding-left: 0px !important;
}

.g-doc-paiten-list-container ul li {
    line-height: 0.7rem !important;
    cursor: pointer;
}

.g-doc-left-patient.active .g-doc-left-patient-detail h6 {
    color: #ffff !important;
}

.g-doc-left-patient-detail h6 {
    margin-bottom: 0.1rem !important;
}

.g-doc-left-patient.active .g-doc-left-patient-detail span {
    color: #E1DDDD;
    font-size: 10px;
}

.g-doc-left-patient-detail span {
    font-size: 12px;
}

.g-doc-patient-img {
    border-radius: 5px;
    height: 60px !important;
}

.g-doc-patient-details span {
    color: #737373;
    font-size: 12px;
}

.g-doc-patient-details p {
    /* color:#737373; */
    font-size: 12px;
    margin-bottom: 0rem !important;
    font-weight: 500;
}

.g-doc-patient-sign {
    border: 0.5px solid #cac7d3;
    border-radius: 10px;
    padding: 3px;
}

.g-doc-patient-sign .see-all-sign {
    font-size: 10px;
    color: #737373;
    cursor: pointer;
}

.g-doc-patient-blood-pressure {
    border: 0.5px solid #cac7d3;
    padding: 3px;
    border-radius: 15px;
    margin-top: 3px;
}

.g-doc-patient-blood-pressure span {
    font-size: 11px;
}

.g-doc-patient-blood-pressure .rate {
    font-size: 12px;
    font-weight: 600;
}

.g-doc-patient-blood-pressure .small {
    color: #888888;
    font-size: 11px;
}

.g-doc-patient-blood-pressure img {
    width: 21px !important;
    height: 21px !important;
}

.g-doc-patient-menu img {
    width: 23px !important;
    height: 23px !important;
    cursor: pointer;
}

.g-doc-patient-menu .screen-img {
    width: 15px !important;
    height: 15px !important;
    cursor: pointer;
}

.g-doc-doctor-sms-popover {
    width: 250px;
    box-shadow: 0px 0px 25px 9px rgba(0, 0, 0, 0.07);
    border-radius: 20px;
}

.g-doc-doctor-sms-popover img {
    width: 27px !important;
    height: 27px !important;
    margin: 10px;
    cursor: pointer;
}

.g-doc-doctor-sms-popover p {
    font-size: 10px;
    margin-bottom: 0.3rem;
    cursor: pointer;
    color: #363636;
}

.g-doc-doctor-call-popover {
    width: 250px;
    box-shadow: 0px 0px 25px 9px rgba(0, 0, 0, 0.07);
    border-radius: 20px;
    background: #F7F7F7;
    margin-right: 180px;
    height: 500px !important;
    overflow: hidden;
    overflow-y: scroll;

}

.g-doc-doctor-call-popover ul {
    padding-left: 0.1rem !important;
    list-style-type: none;
}

.g-doc-doctor-call-popover ul li {
    line-height: 0.1rem !important;
}

.g-doc-doctor-call-popover ul li img {
    width: 51px;
    height: 51px;
    border-radius: 50%;
    border: 3px solid #E8E8E8;
}

.g-doc-call-pop-top {
    border-bottom: 2px solid #BAB9B9;
}

.g-doc-call-pop-top .form-control-sm {
    border-radius: 1rem;
}

.g-doc-call-pop-contact .pop-contact-details {
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.g-doc-call-pop-contact .pop-contact-details-name {
    font-size: 13px;
    font-weight: 500;
}

.g-doc-call-pop-contact .pop-contact-details-number {
    color: #737373;
    font-size: 11px;
}

.g-doc-call-pop-contact .pop-contact-icon {
    font-size: 15px;
}

.g-doc-call-pop-contact .pop-contact-icon-sms {
    color: #F5BD15;
    font-size: 17px;
}

.g-doc-call-pop-contact .pop-contact-icon-call {
    color: #00C3C2;
    font-size: 17px;
}

.g-doc-call-pop-contact a {
    text-decoration: none;
}


.g-doc-left-content .accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.5rem 1.25rem;
}

.g-doc-left-content .accordion-button::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    content: "";
    background-image: url("../../../Images/accordion (2).png");
    background-repeat: no-repeat;
    background-size: 0.6rem;
    transition: transform .2s ease-in-out;
}

.g-doc-left-content .accordion-button:not(.collapsed)::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    content: "";
    background-image: url("../../../Images/accordion (2).png");
    background-repeat: no-repeat;
    background-size: 0.6rem;
    transition: transform .2s ease-in-out;
}

.g-doc-left-content .accordion-button:not(.collapsed) {
    color: #000 !important;
    font-size: 13px !important;
}

.g-doc-left-content .accordion-button.collapsed {
    color: #000 !important;
    font-size: 12px !important;
}

.g-doc-left-content .accordion-header.small-accordion-btn .accordion-button.collapsed {
    font-size: 10px !important;
    padding: 0.2rem !important;
}

.g-doc-left-content .accordion-header.small-accordion-btn .accordion-button::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    content: ">>";
    background-image: url("");
    background-repeat: no-repeat;
    background-size: 0.6rem;
    transform: rotate(90deg);
    transition: transform .2s ease-in-out;
}

.g-doc-left-content .accordion-body {
    padding: 2px !important;
}



/* scroll style  for call pup up  */
.g-doc-doctor-call-popover::-webkit-scrollbar {
    width: 7px;
}

.g-doc-doctor-call-popover::-webkit-scrollbar-track {
    background: #fff !important;
}

.g-doc-doctor-call-popover::-webkit-scrollbar-thumb {
    background: #918f8f !important;
    border-radius: 10px !important;
    padding: 2px;
}

/* scroll style   */

.g-doc-nurse-directory-filter img {
    width: 25px;
    height: 20px;
}

.g-doc-nurse-directory-filter .male-nurse {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.g-doc-nurse-directory-filter .male-nurse p {
    font-size: 11px;
    margin-bottom: 0.1rem !important;
    line-height: 0.7rem !important;
}

.g-doc-left-reaction {
    min-height: 125px;
    /* border-radius: 15px; */
    /* border: 0.5px solid #cac7d3; */
}

.g-doc-left-reaction .left-reaction-thead td {
    padding: 6px 2px;
    background: #F3F3F3;

}

.g-doc-left-reaction table {
    width: 100%;
    font-size: 12px !important;
}

.g-doc-left-reaction table td {
    border: 0.5px solid #cac7d3;
    font-size: 10px;
    text-align: center;
    padding: 0.1rem;
}

.g-doc-alergy-examination-container {
    /* height: 80vh; */
    border-radius: 15px;
    /* overflow: hidden;
    overflow-y: scroll; */

}

.g-doc-reaction-container {
    transition: width 0.2s;
}

.g-doc-alergy-examination-container .g-doc-alergy {
    /* max-height: 250px;
    overflow: hidden;
    overflow-y: scroll; */
}

.g-doc-alergy-examination-container .g-doc-alergy-hide {
    /* max-height: 250px; */
    border: none;
    border-radius: 15px;
    /* overflow: hidden;
    overflow-y: hidden; */
}

.g-doc-alergy-examination-container .g-doc-alergy .form-control {
    height: 22px !important;
}

.g-doc-alergy-examination-container .g-doc-alergy .form-control-sm {
    border-radius: 1rem;
}

.g-doc-alergy-examination-container .css-1g86id8-MuiTreeItem-content .MuiTreeItem-label {
    font-size: 12px !important;
}

.g-doc-alergy-examination-container .accordion-button {
    width: 100%;
    padding-left: 0.2rem !important;
}

.g-doc-alergy-examination-container .accordion-button::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    margin-right: -27px;
    content: "";
    background-image: url("../../../Images/accordion (2).png");
    background-repeat: no-repeat;
    background-size: 0.6rem;
    transition: transform .2s ease-in-out;
}

.g-doc-alergy-examination-container .accordion-button:not(.collapsed)::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    margin-right: -27px;
    content: "";
    background-image: url("../../../Images/accordion (2).png");
    background-repeat: no-repeat;
    background-size: 0.6rem;
    transition: transform .2s ease-in-out;
}

.g-doc-alergy-examination-container .accordion-button:not(.collapsed) {
    color: #000 !important;
    font-size: 13px !important;
}

.g-doc-alergy-examination-container .accordion-button.collapsed {
    color: #000 !important;
    font-size: 13px !important;
}

.g-doc-alergy-examination-container .accordion-header {
    font-size: 12px;
}

.g-doc-alergy-examination-container .alergy-head-img {
    height: 17px;
    width: 17px;
}

.g-doc-alergy-examination-container .left-side-hide-icon {
    height: 20px;
    width: 20px;
    margin-left: 0px;
}

.g-doc-alergy-examination-container .g-doc-alergy .css-1g86id8-MuiTreeItem-content {
    margin-bottom: 10px;
}


/* right sidebar */

.g-doc-right-sidebar .g-doc-right-exam .form-control {
    height: 22px !important;
}

.g-doc-right-sidebar .g-doc-right-exam .form-control-sm {
    border-radius: 1rem;
}

.g-doc-right-sidebar .g-doc-right-exam .css-1g86id8-MuiTreeItem-content .MuiTreeItem-label {
    font-size: 13px !important;
}

.g-doc-right-sidebar .g-doc-right-exam .css-1g86id8-MuiTreeItem-content {
    margin-bottom: 10px;
}

.g-doc-right-sidebar .accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.5rem 0.5rem;
}

.g-doc-right-sidebar .accordion-button::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    content: "";
    background-image: url("../../../Images/accordion (2).png");
    background-repeat: no-repeat;
    background-size: 0.6rem;
    transition: transform .2s ease-in-out;
}

.g-doc-right-sidebar .accordion-button:not(.collapsed)::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    content: "";
    background-image: url("../../../Images/accordion (2).png");
    background-repeat: no-repeat;
    background-size: 0.6rem;
    transition: transform .2s ease-in-out;
}

.g-doc-right-sidebar .accordion-button:not(.collapsed) {
    color: #000 !important;
    font-size: 13px !important;
}

.g-doc-right-sidebar .accordion-button.collapsed {
    color: #000 !important;
    font-size: 13px !important;
}

.g-doc-right-sidebar .accordion-header {
    font-size: 12px;
}

.g-doc-right-sidebar .alergy-head-img {
    height: 20px;
    width: 20px;
}

.g-doc-right-sidebar .g-doc-right-exam {
    max-height: 60vh;
    border: 0.5px solid #cac7d3;
    border-radius: 15px;
    overflow: hidden;
    overflow-y: auto;
}

.g-doc-right-sidebar .accordion-body {
    padding: 1rem 0.5rem;
}

.g-doc-right-sidebar .g-doc-right-exam-hide {
    max-height: 350px;
    border: none;
    border-radius: 15px;
    overflow: hidden;
    overflow-y: hidden;
}

.g-doc-right-sidebar .g-doc-right-exam .clinical-exam-list ul {
    list-style-type: none;
    padding-left: 0.1rem !important;
}

.g-doc-right-sidebar .g-doc-right-exam .clinical-exam-list li {
    font-size: 13px;
}

.g-doc-right-sidebar .g-doc-right-exam .clinical-exam-list ul img {
    width: 22px;
    margin: 5px;
}

.sidebar-collapse-Icon {
    font-size: 15px;
    color: #69B128;
    cursor: pointer;
}

/* right sidebar */

/* doctor menu style  */

.doctor-menu-container ul {
    list-style-type: none;
    padding-left: 0.1rem !important;
}

.doctor-menu-container ul li {
    display: inline-block;
    color: #737373;
    font-size: 12px;
    cursor: pointer;
    font-weight: 600;
}

.doctor-menu-container ul li img {
    width: 20px;
    height: 20px;
}

.doctor-menu-container.doctor-modal {
    background: #F2F2F2;
    width: 100%;
}

.doctor-menu-modal-contetn p {
    font-size: 12px;
    color: #737373;
    font-weight: 500;
}

.doctor-menu-modal-contetn img {
    width: 24px;
}

.doctor-prescription-menu ul {
    list-style-type: none;
    padding-left: 0.1rem !important;
}

.doctor-prescription-menu ul li {
    display: inline-block;
    color: #737373;
    font-size: 14px;
    cursor: pointer;
    font-weight: 600;
}

.doctor-prescription-menu ul li img {
    width: 18px;
    height: 18px;
}

.doctor-prescription-menu ul li button {
    border: 0.5px solid #e2e2e2;
    background-color: #EDEDED;
    color: #363636;
    padding: 3px 14px;
    font-size: 12px;
    font-weight: 500;
    border-radius: 5px;
}

/* doctor menu style  */

/* bottom menu style  */
.bottom-menu ul {
    list-style-type: none;
    padding-left: 0.1rem !important;
    margin-bottom: 0.2rem;
}

.bottom-menu ul li {
    display: inline-block;
    color: #737373;
    font-size: 14px;
    cursor: pointer;
    font-weight: 600;
}

.bottom-menu ul li button {
    border: 0.5px solid #e2e2e2;
    background-color: #EDEDED;
    color: #363636;
    padding: 3px 18px;
    font-size: 11px;
    font-weight: 500;
    border-radius: 5px;
}

/* bottom menu style  */

/* Patient History style  */
.g-doc-patient-history .g-doc-patient-history-small {
    border: 1px solid #cac7d3;
    border-radius: 10px;
}

.g-doc-patient-history .g-doc-patient-history-large {
    border: 1px solid #cac7d3;
    border-radius: 10px;
}

.g-doc-patient-history img {
    width: 11px;
    height: 11px;
    cursor: pointer;
}

.g-doc-patient-history p {
    color: #737373;
    font-size: 11px;
    margin-bottom: 0.1rem;
}

.g-doc-patient-history .form-check {
    margin-top: 0px;
}

.g-doc-patient-history h6 {
    color: #4A4A4A;
    font-size: 12px;
    margin-top: 2px;
}

.g-doc-patient-history .g-doc-patient-history-large .form-select-sm {
    border-radius: 1rem;
}

.g-doc-patient-history .g-doc-patient-history-large h6 {
    font-size: 12px;
}

.g-doc-patient-history .form-check .form-check-label {
    margin-left: 0.1rem !important;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #737373 !important;
}

.rx .css-ahj2mt-MuiTypography-root {
    font-size: 0.8rem;
    line-height: 1.5;
}

.rx .css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root {
    min-height: 40px;
    padding: 0px 16px;
}

.rx .MuiSvgIcon-root {
    width: 0.7em;
}

.rx .MuiTableCell-root {
    padding: 2px !important;
}

.rx th {
    border: none;
}

.rx .MuiTypography-h6 {
    font-size: 1rem;
}

.rx .PrivateSwitchBase-root-14 {
    padding: 3px;
}

.rx .accordion-button {
    padding: 0.5rem 0.5rem;
    font-size: 1rem;
}

.rx .accordion-button::after {
    width: 0.8rem;
    height: 0.8rem;
    background-size: 0.8rem;
}

.rx .MuiToolbar-regular {
    min-height: 40px;
}

.rx .accordion-body {
    padding: 0.1rem 0.1rem;
}

/* Patient History style  */


/* text editor style  */
.g-doc-text-editor {
    border: 1px solid #cac7d3;
    min-height: 42vh;
    border-radius: 5px;
    padding: 5px;
}

/* text editor style  */

/* scroll style  for alergy and reaction  */
.g-doc-scroll::-webkit-scrollbar {
    width: 5px;
}

.g-doc-scroll::-webkit-scrollbar-track {
    background: #fff !important;
    border-left: 1px solid #ddd;
}

.g-doc-scroll::-webkit-scrollbar-thumb {
    background: rgb(0 0 0 / 20%) !important;
    border-radius: 10px !important;
    padding: 2px;
}

/* scroll style   */

.css-yuu8jj .MuiTreeItem-label {
    font-size: 13px !important;
}

/* past rx */
.past-history-table {
    min-height: 40vh;
}

.past-history-table .past_rx_table {
    width: 100%;
    table-layout: fixed;
    text-align: center;
    /* min-height: 40vh;
    display: block;
    overflow-y: scroll; */
}

.past-history-table td {
    border: 1px solid #cac7d3;
    padding: 2px;
    font-size: 11px;
}

.past-history-table th {
    border: 1px solid #cac7d3;
    padding: 3px;
    background-color: #dedede;
    font-size: 11px;
}

.past-history-table .past_rx_table td i {
    cursor: pointer;
}

/* .pastmodal_input .css-16awh2u-MuiAutocomplete-root .MuiOutlinedInput-root .MuiAutocomplete-input {
    padding: 0.5px 4px 0.5px 0px !important;
} */

/* past rx */

/*contact modal */
.contact-modal-container {
    margin: 10px;
    background-color: #ffff;
    border-radius: 15px;
}

.contact-modal-container .contact-thead td {
    background-color: #69B128;
    color: #fff;
    font-weight: 500;
}

.contact-modal-container .active-contact td {
    background-color: #EEEEEE;
}

.contact-modal-container table td {
    cursor: pointer;
}

.contact-modal-header {
    background-color: #69B128;
    color: #ffff;
    font-weight: 500;
    padding: 5px;
    font-size: 16px;
}

.contact-modal-detail {
    min-height: 200px;
}

.contact-modal-detail span {
    margin-left: 30px;
    display: block;
    margin-bottom: 7px;
    color: #5A5A5A;
}

.contact-modal-detail .contact__detail__heading {
    margin-top: 20px;
    margin-left: 20px;
    font-weight: 500;
    color: #5A5A5A
}

/*contact modal */
/*pdf modal*/
.pediatric-exam-heading {
    color: #5A5A5A;
    margin: 19px 0px;
}

.pediatric-exam-pdf-veiw {
    margin-left: 3.5rem;
}

.pediatric-exam-pdf-veiw li {
    transition: all 0.3s;
    cursor: pointer;
    border: 1px solid #c7c7c7;
    width: 60%;
    margin-bottom: 6px;
    padding: 4px 4px 4px 6px;
    border-radius: 5px;
}

.pediatric-exam-pdf-veiw li:hover {
    background-color: #BAB9B9;
}

/*pdf modal*/

.diagnosis-table {
    table-layout: fixed;
}

input.lactationCheckbox {
    height: 11px;
    margin-top: 5px;
}