.prescription-container {
    width: 600px;
    margin: 15px;
    margin: 0 auto;
    display: none;
}

.prescription-doc {
    display: block;
}

.prescription__doctor__info__name p {
    margin-bottom: 1rem !important;
}

.prescription__doctor__info__name .bmdc-no {
    font-weight: 600;
}

.prescription__patient__info__name .p-title {
    width: 90px;
    display: inline-block;
}

.prescription__patient__info__name b {
    width: 120px;
    display: inline-block;
    margin-left: 20px;
}

.prescription__patient__info__name p {
    margin-bottom: 0.1rem !important;
}

.prescription__patient__info__name .patient-date {
    font-weight: 600;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
}

/* .prescription__patient__info__id__image__container  {
    width: 450px;
} */
.prescription__patient__info__id__image__container .qr-code-img {
    height: 50px;
    width: 50px;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}

.prescription__patient__info__id__image__container p {
    margin-bottom: 0rem !important;
}

.prescription__patient__info__id__image__container span {
    font-weight: 600;
    display: inline-block;
    font-size: 16px;
}

.prescription__medicine__info {
    /* background-image: url("../../../Images/medicine-bg.png");
    background-size: 90%; */
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 460px;
}

.prescription__medicine__info .form-check .form-check-label {
    min-height: 18px;
    display: block;
    margin-left: 1rem;
    font-size: 16px;
    font-weight: 600;
}

.prescription__medicine__info .form-check-input {
    width: 1.5em;
    height: 1.5em;
}

.prescription__medicine__container {
    min-height: 300px;
    /* position: relative; */
}

.prescription__medicine__container img {
    margin-top: -50px;
}

.prescription__medicine p {
    margin-bottom: 0rem !important;
    font-weight: 400;
}

.prescription__medicine {
    width: 375px;
    border-bottom: 2px solid #747474;
    margin: 0 auto;

}

.prescription__medicine__details {
    position: absolute;
}

.prescription__doctor__sign {
    width: 375px;
    margin-left: 60px;
}


.prescription__barcode__section {
    width: 350px;
    margin: 0 auto;
    text-align: center;
}

.prescription__barcode__section p {
    font-weight: 500;
}

@media print {
    .prescription-container {
        display: block;
        width: 800px;
        margin: 15px;
        margin: 100px auto;
    }

    .prescription__medicine__info {
        /* background-image: url("../../../Images/medicine-bg.png"); */
        background-size: 100% 92%;
        background-repeat: no-repeat;
        background-position: center center;
        /* min-height: 460px; */
    }

}


.PresDetails_main {
    border: 1px solid #fbf0d0;
    border-radius: 10px;
    padding: 12px;
}

/* .presDetails_heading{
    display: flex;
} */

.infoIcon {
    color: rgb(53, 53, 53);
    cursor: pointer;
    font-size: 20px !important;
}

/* .infoIcon:hover{
    color: rgb(55 55 55);
    cursor: pointer;
    font-size: 20px;
} */


.jss27 {
    z-index: 0 !important;
}

.pdetails_header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.PresDetails_single {
    border: none;
    border-radius: 10px;
    box-shadow: 1px 2px 3px #968e8e;
    padding: 10px;
    margin-bottom: 13px;
    text-align: center;
}

.PresDetails_single:hover {
    border: none;
    border-radius: 10px;
    box-shadow: 2px 5px 7px #968e8e;
    padding: 10px;
    margin-bottom: 13px;
}

.PresDetails_single p {
    margin-bottom: 5px;
}


.doctosNote {
    border: none;
    border-radius: 10px;
    box-shadow: 1px 2px 3px #968e8e;
    padding: 10px;
    margin-bottom: 13px;
}

.doctosNote h6 {
    color: darkslateblue;
    margin-left: 35%;
}

.doctosNote:hover {
    border: none;
    border-radius: 10px;
    box-shadow: 2px 5px 7px #968e8e;
    padding: 10px;
    margin-bottom: 13px;
}