.procedure_text{
    margin-left: 38%;
}
.dr_text{
    margin-left: 63px;
}
.procedure_report_box{
    border: 1px solid #dedede;
    margin-top: 15px;
    padding-top: 20px;
    padding-bottom: 33px;
    padding-left: 15px;
}
.item_number_box{
    width: 60%;
    height:30px;
}
.item_number_box2{
    width: 252px;
    height:55px;
    position: absolute;
}
.item_number_box3{
    width: 252px;
    height:55px;
    position: absolute;
}
.incision_textbox{
    width:250px;
    height:30px;
    margin-right:50px;
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.25);
}
.text_area_text{
    margin-top: 5px;
    margin-right: 50px;
    position: relative;
}
.report_btn2{
    margin-bottom: 50px;
}
.report-save-btn2{
    float: right;
    color: #ffffff;
    margin-right: 20px;
    background: #69B128;
    border: 1px solid #69B128;
    padding: 5px 18px;
    border-radius: 5px;
}
.report-print-btn2{
    float: right;
    color: gray;
    margin-right: 40px;
    border: 1px solid #69B128;
    padding: 5px 15px;
    border-radius: 5px;
}
.anti{
    width: 251px;
    border: 1px solid rgba(0, 0, 0, 0.25);
}
.observe{
    margin-left: -12px;
    border: 1px solid rgba(0, 0, 0, 0.25);
}
.process_box{
    height: 40px;
    width: 639px;
}
.increase_icon,.procedure_icon{
    margin-left:-45px;
    margin-top:8px;
    cursor:pointer;
}
.indication_icon{
    margin-left:-72px;
    margin-top:6px;
    cursor:pointer;
}
.incision_icon{
    margin-left:-55px;
    margin-top:8px;
    cursor:pointer;
}
.bloodLoss_icon{
    margin-left:-146px;
    margin-top:8px;
    cursor:pointer; 
}
.observation_icon{
    margin-left: -45px;
    margin-top: 7px;
    cursor: pointer;
}
.followUp_icon{
    margin-top: 19px;
    margin-left:-45px;
    cursor: pointer;
}
.operative_icon{
    margin-top: 19px;
    margin-left:-71px;
    cursor: pointer;
}
.drain_box{
    margin-left: -10px;
}
.process_text{
    margin-left: 52px;
    width: 69%;
    height: 40px;
    margin-bottom: 10px;
}
.observation_select_box{
    border: 1px solid rgba(0, 0, 0, 0.25);
    position: relative;
    width: 250px;
    height: 34px;
    margin-left: -12px;
}
