.drugsNameIcon {
    color: #4b4b4b;
    font-size: 15px;
    padding: 2px;
    cursor: pointer;
}

.MTableHeader-header-235 {
    z-index: 0 !important;
}
.MTableHeader-header-101 {
    z-index: 0 !important;
}